[Desktop Entry]
Version=1.0
X-AppImage-Version=0.9.0
Type=Application

Name=BuhoCMS
Comment=A local CMS for static site generators
Categories=Office;
Icon=buhocms

Exec=buhocms
Terminal=false
StartupWMClass=BuhoCMS
