[Desktop Entry]
Version=1.0
Type=Application

Name=BuhoCMS
Comment=A local CMS for Hugo static sites
Categories=Office;
Icon=/usr/share/icons/buhocms.svg

Exec=/usr/bin/buhocms
Terminal=false
StartupWMClass=BuhoCMS
