Package: buhocms
Version: 0.7.0
Architecture: all
Essential: no
Priority: optional
Depends: libgtk-3-0,libblkid1,liblzma5
Maintainer: iakmds <andreas[at]iakmds[dot]com>
Description: A local CMS for static site generators
