Package: buhocms
Version: 0.5.0
Architecture: all
Essential: no
Priority: optional
Depends: libgtk-3-0,libblkid1,liblzma5
Maintainer: Andreas Iakeimiadis
Description: A local CMS for Hugo static sites
