<a id="back-to-top" href="#">
    <svg
       width="32px" 
       height="32px"
       viewBox="0 0 86.664619 54.812157"
       version="1.1"
       id="svg5"
       xmlns="http://www.w3.org/2000/svg"
       xmlns:svg="http://www.w3.org/2000/svg">
      <defs
         id="defs2" />
      <g
         id="layer1"
         transform="translate(159.59612,-103.25916)">
        <rect
           style="stroke-width:0.236247;paint-order:stroke fill markers"
           id="rect234"
           width="61.281147"
           height="16.234941"
           x="-216.50732"
           y="-9.1956749"
           transform="rotate(-45)" />
        <rect
           style="stroke-width:0.236247;paint-order:stroke fill markers"
           id="rect344"
           width="61.281147"
           height="16.234941"
           x="-9.1956749"
           y="155.22618"
           transform="rotate(45)" />
      </g>
    </svg>
</a>
